.wrapper {
  background: linear-gradient(to bottom, skyblue, whitesmoke, skyblue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero {
    background-image: url(https://ik.imagekit.io/chlorosimg/Others/blog_hero.webp?updatedAt=1721065008265);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 600px) {
      background-size: auto 70%;
    }
  }
}
